@import '../../App.css';

.container{
   max-width: 700px;
   width: 80vw;
   margin: 0 auto;
   margin-bottom: 20px;
   padding: 20px;
   border: 2px solid var(--color-ui);
   border-radius: 10px;
   background-color: var(--color-primary);
}
.notVisibel{
   display: none;
}
.title{
   margin-bottom: 30px;
}
.flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:10px;
}
.complited{
text-decoration:line-through;
}
.text{
   width: 100%;
}
.textRed{
   color: var(--color-error);
}

.taskBox{
   margin-top: 20px;
}
.li{
   list-style: none;
   font-size: 18px;
   padding: 5px;
   margin: 10px 0;
   border-bottom: 1px solid var(--color-ui);
}