:root {
   --color-light : #CAD2C5;
   --color-primary: #84A98C;
   --color-ui: #52796F;
   --color-title: #354F52;
   --color-text: #2F3E46;
   --color-error:#913434;
 }

 *, *::after, *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

body{
   color:var(--color-text);
   background-color: var(--color-light);
   font-size: 16px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1,h2,h3{
   color: var(--color-title);
}